<h1>Listing tareas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Persona</th>
    <th>Zona</th>
    <th>Fecha</th>
    <th>Animal</th>
    <th>Ocupacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tareas.each do |tarea| %>
  <tr>
    <td><%= tarea.nombre %></td>
    <td><%= tarea.persona_id %></td>
    <td><%= tarea.zona_id %></td>
    <td><%= tarea.fecha %><td>
    <td><%= tarea.animal_id %></td>
    <td><%= tarea.ocupacion_id %></td>
    <td><%= link_to 'Show', tarea %></td>
    <td><%= link_to 'Edit', edit_tarea_path(tarea) %></td>
    <td><%= link_to 'Destroy', tarea, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tarea', new_tarea_path %>
