<h1>Listing menus</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Content</th>
    <th>Picture file name</th>
    <th>Picture content type</th>
    <th>Picture file size</th>
    <th>Picture updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menus.each do |menu| %>
  <tr>
    <td><%= menu.titulo %></td>
    <td><%= menu.content %></td>
    <td><%= menu.Picture_file_name %></td>
    <td><%= menu.Picture_content_type %></td>
    <td><%= menu.Picture_file_size %></td>
    <td><%= menu.Picture_updated_at %></td>
    <td><%= link_to 'Show', menu %></td>
    <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
    <td><%= link_to 'Destroy', menu, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu', new_menu_path %>
