
<% if ! current_persona.nil? && current_persona.perfil.ocupacion_id == 1 %>    
 	<p><%= link_to 'Crear pagina nueva', :action=> "new", :controller=>"submenus", :id=> @menu.id %></p>
	<hr />
<% end %>

<% @submenus.each do |submenu| %>
    <td><%= link_to submenu.titulo, submenu %></td>
    <%= '|' %>
<%end%>
</br>
</br>
<hr/>

<% if @menu.Picture.exists? then %>

	<%= image_tag @menu.Picture.url(:small), :align=>'right', :style=> "border:20px solid white" %>

<% end %>

<p>
  <b>Titulo:</b>
  <%= @menu.titulo %>
</p>



<p>
  <b>Contenido:</b>
  <%= simple_format h @menu.content %>
</p>



<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
