<h1>Horarios</h1>



<br />

<div id="calendar">
 <h2 id="month">
  <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
  <%= h @date.strftime("%B %Y") %>
  <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
 </h2>
 <%= calendar_for @horarios, :year => @date.year, :month => @date.month, :first_day_of_week =>1 do |t| %>
  <%= t.head('lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo') %>
  <% t.day(:day_method => :fecha) do |date, horarios| %>
    <%= date.day %>
    <br />
    <%= ('------------------')%>
    <br />
    <%= link_to 'Mañana', {:action => "add_hora", :fecha=> date, :tarde=> 0}, :class => "enlaceb" %>

    <ul>
     <% horarios.each do |hora| %>
        <% if hora.tarde==0 %>
	   <% if hora.persona.id == current_persona.id %>	
              <%= link_to h(hora.persona.nombre), hora %>
	      <ul>
           <% else %>
	      <%= hora.persona.nombre %>
	      <ul>	
           <% end %>	
	<% end %>
     <%end%>

    <br />
 <!--cal class>
  <ul-->
    <%= link_to 'Tarde', {:action=> "add_hora", :fecha=> date, :tarde=> 1}, :class => "enlaceb" %>
  <!--/ul>
 </cal-->
 
    <ul> 
     <% horarios.each do |hora| %>
        <% if hora.tarde==1 %>
	   <% if hora.persona.id == current_persona.id %>
               <%= link_to h(hora.persona.nombre), hora %>
	       <ul>
	   <% else %>
	      <%= hora.persona.nombre %>
	      <ul>
           <% end %>
	<% end %>
     <%end%>

  <% end %>
<% end %>
</div>

<br />

<%= link_to 'New Horario', new_horario_path %>
