<h1>Listing horarios</h1>

<table>
  <tr>

    <th>Usuario</th>
    <th>Zona</th>
    <th>Fecha</th>
    <th>Tarde</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @horarios.each do |horario| %>
  <tr>
    <td><%= horario.persona.nombre %></td>
    <td><%= horario.zona_id %></td>
    <td><%= horario.fecha %></td>
    <td><%= horario.tarde %></td>
    <td><%= link_to 'Show', horario %></td>
    <td><%= link_to 'Edit', edit_horario_path(horario) %></td>
    <td><%= link_to 'Destroy', horario, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div id="calendar">
 <h2 id="month">
  <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
  <%= h @date.strftime("%B %Y") %>
  <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
 </h2>
 <%= calendar_for @horarios, :year => @date.year, :month => @date.month, :first_day_of_week =>1 do |t| %>
  <%= t.head('lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo') %>
  <% t.day(:day_method => :fecha) do |date, horarios| %>
    <%= date.day %>
    <br />
    <%= ('------------------')%>
    <br />
    <%= link_to 'Mañana', :action => "add_hora", :fecha=> date, :tarde=> 0 %>
    <!-- check_box_tag "persona[horario_ids][]", horario.id, @persona.horarios.include?(horario) -->
    <ul>
     <% horarios.each do |hora| %>
        <% if hora.tarde==0 %>
           <%= link_to h(hora.persona.nombre), hora %>
	   <ul>	
	<% end %>
     <%end%>

    <br />
    <%= link_to 'Tarde', :action => "add_hora", :fecha=> date, :tarde=> 1 %>
    <!-- check_box_tag "horario[user_id]", current_persona.id -->
    <ul> 
     <% horarios.each do |hora| %>
        <% if hora.tarde==1 %>
           <%= link_to h(hora.persona.nombre), hora %>
	   <ul>
	<% end %>
     <%end%>

  <% end %>
<% end %>
</div>

<br />

<%= link_to 'New Horario', new_horario_path %>
