<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @horario.persona_id %>
</p>

<p>
  <b>Zona:</b>
  <%= @horario.zona_id %>
</p>

<p>
  <b>Fecha:</b>
  <%= @horario.fecha %>
</p>

<p>
  <b>Tarde:</b>
  <%= @horario.tarde %>
</p>

<% if current_persona.id == @horario.persona_id %>
	<%= link_to 'Destroy', @horario, confirm: 'Desea borrar este turno?', method: :delete %>
<%end%>
<br>
<br>

<%= link_to 'Edit', edit_horario_path(@horario) %> |
<%= link_to 'Back', horarios_path %>
