<%= form_for [@dina] do |f| %>




<p>
  <b>Dino:</b>
  <%= @dino.id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @dino.nombre %>
</p>

<p>
  <b>Raza:</b>
  <%= @dino.raza %>
</p>

  <div class="field">
<%= hidden_field_tag :dino_id, @dino.id %>
  </div>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :edad %><br />
    <%= f.number_field :edad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
