<h1>Listing dinos</h1>

<table>
  <tr>
    <th>Dina</th>
    <th>Nombre</th>
    <th>Raza</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dinos.each do |dino| %>
  <tr>
    <td><%= dino.dina_id %></td>
    <td><%= dino.nombre %></td>
    <td><%= dino.raza %></td>
    <td><%= link_to 'Show', dino %></td>
    <td><%= link_to 'Edit', edit_dino_path(dino) %></td>
    <td><%= link_to 'Edit', edit_dino_path(dino) %></td>
    <td><%= link_to 'Añadir Dina', :action=> "creardina", :id=> dino.id %></td>
    <td><%= link_to 'Destroy', dino, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dino', new_dino_path %>
