<p id="notice"><%= notice %></p>

<p>
  <b>Dina:</b>
  <%= @dino.dina_id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @dino.nombre %>
</p>

<p>
  <b>Raza:</b>
  <%= @dino.raza %>
</p>


<%= link_to 'Edit', edit_dino_path(@dino) %> |
<%= link_to 'Back', dinos_path %>
