<h1>Listing dinas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Edad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dinas.each do |dina| %>
  <tr>
    <td><%= dina.nombre %></td>
    <td><%= dina.edad %></td>
    <td><%= link_to 'Show', dina %></td>
    <td><%= link_to 'Edit', edit_dina_path(dina) %></td>
    <td><%= link_to 'Crear Dino', :action=> "creardino", :id=> dina.id %></td>
    <td><%= link_to 'Destroy', dina, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dina', new_dina_path %>
