<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @dina.nombre %>
</p>

<p>
  <b>Edad:</b>
  <%= @dina.edad %>
</p>


<%= link_to 'Edit', edit_dina_path(@dina) %> |
<%= link_to 'Back', dinas_path %>
