<p id="notice"><%= notice %></p>


<p>
  <b>Nombre:</b>
  <%= @probo.nombre %>
</p>

<ul>
<% @probo.probas.each do |proba| %>
<li><%= proba.nombre %> - <%= proba.id %></li>
<% end %>
</ul>



<%= link_to 'Edit', edit_probo_path(@probo) %> |
<%= link_to 'Back', probos_path %>
