<h1>Añadir nueva fotografia</h1>

<!--= form_for @animal, :html => {:multipart=>true} do |f| -->
<%= form_for @animal.animal_images do |f| %>


  <!--div class="field">
	<= f.label :Foto ><br />
  	<= f.file_field :foto >
  </div--> 

<!-- f.fields_for :photo do |builder| -->  
<!-- if builder.object.new_record? -->
   <!--div class="field"-->
         <!--p>
	      <= builder.label :caption, "Image Caption" >	
	      <= builder.text_field :caption >
         </p> 
         <p>  
              <= builder.label :Foto, "Image File" ><br />  
              <= builder.file_field :foto >  
         </p>  
   <!--/div-->
<!-- end -->
<!--end-->

  <div class="field">
	<%= f.label :photo %><br />
  	<%= f.file_field :photo %>
  </div> 



  <div class="actions">
    <%= f.submit %>
  </div>

  

<% end %>



<%= link_to 'Back', animals_path %>
