<h1>Listado animales</h1>

  <!--td>< @auxx ></td-->

<!-- form_for @search do |f| %>
  <p>
    < f.label :nombre %>
  
    < f.label :zona_id %><br />

    < f.text_field :nombre %>

    < f.collection_select :zona_id, Zona.all, :id, :nombre, :include_blank => true %>
  </p>
  <p>< f.submit %></p>
< end %-->



<%= form_tag animals_path, :method => 'get' do %>
  <%= "Busqueda por nombre" %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :numero => "1" %>
  </p>
<% end %>




<% if ! current_persona.nil? && current_persona.perfil.ocupacion_id == 1 %>    
	<p><%= link_to 'Añadir nuevo animal', :action=> "zona" %></p>
<% end %>

<!-- form_tag animals_patch, :method => 'get' do |f| %>
  <p>
	<%= text_field_tag :search, params[:search]%>
	<%= submit_tag "Search"%>
  </p>  
< end -->

<!--fieldset id="moveanimal"-->
<!--<form>-->

    <!--td>< link_to zona.nombre, :action=> "cheniles", :id=> zona.id %></td-->

<table class="tabla">
  <tr>
    <th>Foto</th>
    <th><%= link_to "Nombre", :action=> "ordenado", :id=> 1  %></th>
    <th>Zona</th>
    <th>NºChenil</th>	
    <th><%= link_to "Raza", :action=> "ordenado", :id=> 4 %></th>
    <th>Sexo</th>
    <th><%= link_to "Entrada", :action=> "ordenado", :id=> 2 %></th>
    <th><%= link_to "Modificado", :action=> "ordenado", :id=> 3 %></th>
    <th>Observaciones</th>
  </tr>

<!--@animals.order("nombre desc").each do |animal|-->
 <% @animals.each do |animal| %>
<!--Quito contador animales en cehniles, habrá q ponerlo en otro sitio-->
  <!-- if chenil.id == animal.chenil_id %> 
    < @cont=@cont+1 -->  

  <tr class="modo1">
   <% if animal.images.empty? %>
    <td><%= link_to image_tag('logo.png'), animal %></td>
   <% else %>

    <td><%= link_to image_tag(animal.images.first.image.url(:thumb)), animal %></td>
   <%end%>

    <td><%= link_to animal.nombre, animal %></td>
    <td><%= link_to animal.zona.nombre, :controller=> "zonas", :action=> "cheniles", :id=> animal.zona_id %></td>
    <td><%= animal.chenil.numero %></td>
    <td><%= animal.raza %></td>
    <td><%= animal.sexo %></td>
    <td><%= animal.fecha_entrada %></td>
    <td><%= animal.updated_at.to_date %></td>
    <td><%= animal.observaciones %></td>
    <!--td>< link_to 'Show', animal %></td-->
<!-- if ((current_persona.nil? == 1) && (current_persona.perfil.ocupacion_id == Coordinador || current_persona.perfil.ocupacio_id == Veterinario || current_persona.perfil.ocupacio_id == 3)) %--> 


  </tr>
  <!-- end >
 < end -->

<!--lo quito deberia ponerlo en otro sitio-->
<!-- ACTUALIZA CONTADOR DE ANIMALES EN CADA CHENIL -->
<!--td>< @cont ></td-->
<!-- chenil.ocupado = @cont -->
<!--td>< chenil.ocupado %></td-->
<!-- chenil.caplibre=(chenil.capacidad - @cont) >
    < chenil.save >
< end >
<end-->
<%end%>

</table>
<!--</form>-->
<!--/fieldset-->

<br />

<% if ! current_persona.nil? && current_persona.perfil.ocupacion_id == 1 %>    
	<%= link_to 'New Animal', new_animal_path %>
<% end %>
