
<% if ! current_persona.nil? && (current_persona.perfil.ocupacion_id == 1 || current_persona.perfil.ocupacion_id == 3 ) %> 
	<%= link_to 'cambiar de zona', :action=> "zona_mover", :id=>@animal.id%>
<%end%>

<table class="tabla">
 
  <tr>
    <th>Zona</th>
    <th>Chenil</th>
    <th>Foto</th>
    <th>Nombre</th>
    <th>Id</th>


  </tr>

  <tr class="modo1">
    <td><%= @animal.chenil.zona.nombre %></td>
    <td><%= @animal.chenil.numero %></td>


    <% if @animal.images.empty? %>
      <td><%= image_tag 'logo.png'%></td>
    <% else %>
      <td><%= image_tag @animal.images.first.image.url(:thumb) %>
    <%end%>

    <td><%= @animal.nombre %></td>
    <td><%= @animal.id %></td>
  </tr>


  <!--tr>
    <th>Foto</th>
    <th>Nombre</th>
    <th>Relacion</th>

  </tr-->



  <% @animals.each do |animal| %>
   <% if ((animal.chenil_id == @animal.chenil_id) && (animal.id != @animal.id)) %> 

	  <tr class="modo1">

	    <% if animal.images.empty? %>
		<td><%= image_tag 'logo.png' %></td>       
	    <% else %>
		<td><%= image_tag animal.images.first.image.url(:thumb) %>
	    <% end %>
	    <td><%= animal.nombre %></td>
	    <% @cont=0 %>
     	    <% @relacion_animals.each do |relacion| %>
		<% if ((relacion.animal1_id == @animal.id && relacion.animal2_id == animal.id) || (relacion.animal2_id == @animal.id && relacion.animal1_id == animal.id )) %>
		     <td><%= relacion.relacion %></td>
		     <% @cont=1 %>
		<% end %>	

	    <%end%>	
		
	    <% if @cont!=1 %>
		  <td><%= '0' %></td>	
	    <%end%>
	    <td></td>
	    <td></td>	
	</tr>
	
   <%end%> 
  <%end%>

 <% @chenils.each do |chenil| %>
  <% if (chenil.id == @animal.chenil_id ) %>
	<tr class="modo3">
 	 <th>Chenil</th>
  	 <td><%= chenil.numero %></td>
  	 <th>Zona</th>
  	 <td><%= chenil.zona.nombre %></td>
 	 <th></th>
 	</tr>
  <% end %>
 <% end %>

  <tr>
    <th>Foto</th>
    <th>Nombre</th>
    <th>Relacion</th>
    <th></th>
    <th></th>

  </tr>


 <% @chenils.each do |chenil| %>
  <% if chenil.zona_id == @zona.id && chenil.id != @animal.chenil_id %>
<!--fieldset id="moveanimal">
<form-->



  <% @animals.each do |animal| %>
    <% if (animal.chenil_id == chenil.id) %> 


	  <tr class="modo1">
	    <% if animal.images.empty? %>
		<td><%= image_tag 'logo.png' %></td>       
	    <% else %>
		<td><%= image_tag animal.images.first.image.url(:thumb) %></td>
	    <% end %>
	    <td><%= animal.nombre %></td>
	    <% @existe=0 %>
	    
     	    <% @relacion_animals.each do |relacion| %>
		<% if ((relacion.animal1_id == @animal.id && relacion.animal2_id == animal.id) || (relacion.animal2_id == @animal.id && relacion.animal1_id == animal.id )) %>
		     <td><%= relacion.relacion %></td>
		     <% @existe=1 %>
		     
		     <% if (relacion.relacion=='pelea')%>
			  <% @contpelea=1 %>
		     <% end %>	
		     <% if (relacion.relacion=='regular')%>
			  <% @contregular=1 %>
		     <% end %>	
		     <% if (relacion.relacion=='sin info')%>
			  <% @continfo=1 %>
		     <% end %>	
		     <% if (relacion.relacion=='bien')%>
			  <% @contbien=1 %>
		     <% end %>	

	        <%end%>
	    <%end%>	

	    <% if (@existe!=1) %>
		<td><%= "sin info" %></td>
                <% @continfo=1 %>
	    <%end%>

	    
	    <td></td>
	    <td></td>
	</tr>		

	
    <%end%> 
  <%end%>

  <% if (@contpelea==1) %>
      <% @contfin='pelea' %>			
  <% else %>
      <% if (@contregular==1) %>
	  <% @contfin='regular'  %>
      <% else %>
	  <% if (@continfo==1) %>
		<% @contfin='sin info'%>
	  <% else %>
	  	<%if (@contbien==1) %>
			<% @contfin='bien' %>
	  	<% else %>
			<% @contfin='sin animales' %>
		<%end%>
	  <%end%>
      <%end%>
  <%end%>

  <tr class="modo3">
     <th>Chenil</th>
     <td><%= chenil.numero %></td>
     <th>Zona</th>
     <td><%= chenil.zona.nombre %></td>
     <th>Rel Chenil</th>
     <td><%= @contfin %></td>
     <td><%= link_to 'mover Animal', :action=> "moverfin", :id1=> @animal.id, :id2 => chenil.id %></td>

  </tr>

<!--/form>
</fieldset-->

<% @contpelea=0 %>
<% @contregular=0 %>
<% @continfo=0 %>
<% @contbien=0 %>

 <%end%>

<%end%>

</table>














