
<% if ! current_persona.nil? && (current_persona.perfil.ocupacion_id == 1 || current_persona.perfil.ocupacion_id == 3 ) %> 
	<%= link_to 'cambiar de zona', :action=> "zona_mover", :id=>@animal.id%>
<%end%>

<table class="tabla">
 <% @chenils.each do |chenil| %>
  <% if (chenil.id == @animal.chenil_id ) %>
	<tr class="modo3">
 	 <th>Chenil</th>
  	 <td><%= chenil.numero %></td>
  	 <th>Zona</th>
  	 <td><%= chenil.zona.nombre %></td>
 	 <th></th>
 	</tr>
  <% end %>
 <% end %>

 




  <tr>
    <th>Zona</th>
    <th>Chenil</th>
    <th>Foto</th>
    <th>Nombre</th>
    <th>Id</th>


  </tr>

  <tr class="modo1">
    <td><%= @animal.chenil.zona.nombre %></td>
    <td><%= @animal.chenil.numero %></td>


    <% if @animal.images.empty? %>
      <td><%= image_tag 'logo.png'%></td>
    <% else %>
      <td><%= image_tag @animal.images.first.image.url(:thumb) %>
    <%end%>

    <td><%= @animal.nombre %></td>
    <td><%= @animal.id %></td>
  </tr>


  <!--tr>
    <th>Foto</th>
    <th>Nombre</th>
    <th>Relacion</th>
    <th></th>
    <th></th>
  </tr-->



  <% @animals.each do |animal| %>
   <% if ((animal.chenil_id == @animal.chenil_id) && (animal.id != @animal.id)) %> 

	  <tr class="modo1">

	    <% if animal.images.empty? %>
		<td><%= image_tag 'logo.png' %></td>       
	    <% else %>
		<td><%= image_tag animal.images.first.image.url(:thumb) %>
	    <% end %>
	    <td><%= animal.nombre %></td>
	    <% @cont=0 %>
     	    <% @relacion_animals.each do |relacion| %>
		<% if ((relacion.animal1_id == @animal.id && relacion.animal2_id == animal.id) || (relacion.animal2_id == @animal.id && relacion.animal1_id == animal.id )) %>
		     <td><%= relacion.relacion %></td>
		     <% @cont=1 %>
		<% end %>	

	    <%end%>	
		
	    <% if @cont!=1 %>
		  <td><%= '0' %></td>	
	    <%end%>
	    <td></td>
	    <td></td>	
	</tr>
	
   <%end%> 
  <%end%>


  <tr>
    <th>Foto</th>
    <th>Nombre</th>
    <th>Relacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


 <% @chenils.each do |chenil| %>
  <% if chenil.zona_id == @zona.id && chenil.id != @animal.chenil_id %>
<!--fieldset id="moveanimal">
<form-->



  <% @animals.each do |animal| %>
    <% if (animal.chenil_id == chenil.id) %> 


	  <tr class="modo1">
	    <% if animal.images.empty? %>
		<td><%= image_tag 'logo.png' %></td>       
	    <% else %>
		<td><%= image_tag animal.images.first.image.url(:thumb) %></td>
	    <% end %>
	    <td><%= animal.nombre %></td>
	    <% @cont=0 %>

     	    <% @relacion_animals.each do |relacion| %>
		<% if ((relacion.animal1_id == @animal.id && relacion.animal2_id == animal.id) || (relacion.animal2_id == @animal.id && relacion.animal1_id == animal.id )) %>
		     <td><%= relacion.relacion %></td>
		     <% @cont=1 %>
		     
		     <% if (relacion.relacion==2)%>
			  <% @contfin=2 %>
		     <% end %>	
	        <%end%>
	    <%end%>	

	    <% if (@cont!=1) %>
		<td><%= "0" %></td>
		<% if (@contfin!=2) %>
			<% @contfin=0 %>	
	        <%end%>
	    <%end%>
	    <td></td>
	    <td></td>
	</tr>		

	
    <%end%> 
  <%end%>


  <tr class="modo3">
     <th>Chenil</th>
     <td><%= chenil.numero %></td>
     <th>Zona</th>
     <td><%= chenil.zona.nombre %></td>
     <th>Rel Chenil</th>
     <td><%= @contfin %></td>
     <td><%= link_to 'mover Animal', :action=> "moverfin", :id1=> @animal.id, :id2 => chenil.id %></td>

  </tr>

<!--/form>
</fieldset-->

 <%end%>

<%end%>

</table>














