<h1>Nuevo animal</h1>

<%= form_for(@animal, :html => {:multipart=>true}) do |f| %>

  <div class="field">
	<%= f.label :nombre %><br />
	<%= f.text_field :nombre %>
  </div>
  <div class="field">
	<%= f.label :raza %><br />
	<%= f.text_field :raza %>
        <% @aux=:raza %>
  </div>
  <div class="field">
	<%= f.label :sexo %><br />
	<%= f.text_field :sexo %>
  </div>
  <div class="field">
	<%= f.label :Fecha_entrada %><br />
	<%= f.date_select :fecha_entrada %>
  </div>

  <div>
  <select name="animal[chenil_id]"> 
   <% @chenils.each do |chenil| %> 
       <option value="<%= chenil.id %>" 
         <%= 'selected' if chenil.id == @animal.chenil_id %>>
         <%= chenil.id %> 
         <%= chenil.numero %> 
         <%= chenil.zona.nombre %>

       </option> 
   <% end %> 

  </select></div>

 <td><%= @aux%></td>
 <!-- 
  no se puede coger campo de objeto no guardado 
  < @chenil=@animal.chenil > 
  < @aux=chenil >
  <td><= @chenil.id ></td>   -->


  <div class="field">
	<%= f.label :Observaciones %><br />
  	<%= f.text_field :observaciones %>
  </div> 

  <div class="field">
	<%= f.label :Foto %><br />
  	<%= f.file_field :foto %>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>

  

<% end %>



<%= link_to 'Back', animals_path %>
