<p id="notice"><%= notice %></p>

<% if ! current_persona.nil? && (current_persona.perfil.ocupacion_id == 1 || current_persona.perfil.ocupacion_id == 2 || current_persona.perfil.ocupacion_id == 3 ) %> 
  <!--td>< link_to 'añadir foto', :action=> "add_foto", :id=> @animal.id ></td-->   
  <p>
  <td><%= link_to 'relaciones', :action=> "relacionesXanimal", :id=> @animal.id %></td>
  <td><%= "  /   " %></td>
  <td><%= link_to 'mover animal', :action=> "mover", :id1=> @animal.zona_id, :id2 => @animal.id %></td>
  <td><%= "  /   " %></td>
<!--  <td><= link_to 'relacion', :action=> "relaciones", :id=> @animal.id ></td> -->
 
  <td><%= link_to 'Edit', edit_animal_path(@animal) %></td>
  <td><%= "  /   " %></td>
  <td><%= link_to 'Destroy', @animal, confirm: 'Are you sure?', method: :delete %></td>
  </p>
<% end %>

<p>
  <b>Nombre:</b>
  <%= @animal.nombre %>
</p>

<p>
  <b>Raza:</b>
  <%= @animal.raza %>
</p>



<p>
  <b>Foto:</b>

<% if @animal.images.count > 0 %>

  <% for image in @animal.images %>

		<%= link_to image_tag(image.image.url(:thumb)), image.image.url(:original) %>	
 
 <% end %>

<% end %>

<p>
  <b>Sexo:</b>
  <%= @animal.sexo %>
</p>

<p>
  <b>Zona:</b>
  <% if !(@animal.zona_id.nil?) %> 	
    <%= @animal.zona.nombre %>
  <%end%>
</p>

<p>
  <b>Fecha entrada:</b>
  <%= @animal.fecha_entrada %>
</p>

<p>
  <b>Observaciones:</b>
  <%= simple_format h @animal.observaciones %>
</p>


<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
