<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @animal.nombre %>
</p>

<p>
  <b>Raza:</b>
  <%= @animal.raza %>
</p>



<p>
  <b>Foto:</b>

<% if @animal.images.count > 0 %>

  <% for image in @animal.images %>

		<%= link_to image_tag(image.image.url(:thumb)), image.image.url(:original) %>	
 
 <% end %>

<% end %>

<p>
  <b>Sexo:</b>
  <%= @animal.sexo %>
</p>

<p>
  <b>Zona:</b>
  <% if !(@animal.zona_id.nil?) %> 	
    <%= @animal.zona.nombre %>
  <%end%>
</p>

<p>
  <b>Fecha entrada:</b>
  <%= @animal.fecha_entrada %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @animal.observaciones %>
</p>


<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
