<h1>Listing zonas</h1>

<!--<tr>
<td><= link_to 'Zona Coordinador', :action=> "coord" %></td>
</tr>-->

<% if current_persona.perfil.ocupacion_id == 1 %>
    <%= link_to 'Crear zona nueva', new_zona_path %>
<% end %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Notas</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zonas.each do |zona| %>
  <% if zona.id >2 %>
  <tr>
    <td><%= link_to zona.nombre, :action=> "cheniles", :id=> zona.id %></td>
    <!--td><!-- zona.nombre ></td-->
    <td><%= zona.notas %></td>
    <td><%= zona.text %></td>
    <td><%= link_to 'Show', zona %></td>
<% if current_persona.perfil.ocupacion_id == 1 %>      
       <td><%= link_to 'Edit', edit_zona_path(zona) %></td>
       <td><%= link_to 'Destroy', zona, confirm: 'Are you sure?', method: :delete %>
<% end %>
  </tr>
  <%end%>
<% end %>

<% @zonas.each do |zona| %>
  <% if zona.id<=2 %>
  <tr>
    <td><%= link_to zona.nombre, :action=> "cheniles", :id=> zona.id %></td>
    <td><%= zona.notas %></td>
    <td><%= zona.text %></td>
    <td><%= link_to 'Show', zona %></td>
<% if current_persona.perfil.ocupacion_id == 1 %>      
       <td><%= link_to 'Edit', edit_zona_path(zona) %></td>
       <td><%= link_to 'Destroy', zona, confirm: 'Are you sure?', method: :delete %>
<% end %>

  </tr>
  <%end%>
<% end %>
</table>

<br />


