<table class="tabla">
<p id="notice"><%= notice %></p>

<% if current_persona.perfil.ocupacion_id == 1 %>   
   <tr>   
<p>
       <%= link_to 'Edit', edit_zona_path(@zona) %> 
       <%= "  /   " %>
       <%= link_to 'Destroy', @zona, confirm: 'Are you sure?', method: :delete %>
</p>
   </tr>
<% end %>

<tr>
<p>
  <b>Nombre:</b>
  <%= @zona.nombre %>
</p>

<p>
  <b>Notas:</b>
  <%= @zona.notas %>
</p>

<p>
  <b>Text:</b>
  <%= @zona.text %>
</p>


<%= link_to 'Back', zonas_path %>
</tr>
</table>
