<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @zona.nombre %>
</p>

<p>
  <b>Notas:</b>
  <%= @zona.notas %>
</p>

<p>
  <b>Text:</b>
  <%= @zona.text %>
</p>


<%= link_to 'Back', zonas_path %>
