<p id="notice"><%= notice %></p>

<p>
  <b>Ocupacion:</b>
  <%= @perfil.ocupacion.nombre %>
</p>
  2

<p>
  Zonas
</p>
<ul>
  4
  <% @perfil.zonas.each do |zona| %>
	<%= zona.id %>
         1
  <% end %>
</ul>



<%= link_to 'Edit', edit_perfil_path(@perfil) %> |
<%= link_to 'Back', perfils_path %>
