<%= form_for(@probas_probo) do |f| %>
  <% if @probas_probo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@probas_probo.errors.count, "error") %> prohibited this probas_probo from being saved:</h2>

      <ul>
      <% @probas_probo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proba_id %><br />
    <%= f.number_field :proba_id %>
  </div>
  <div class="field">
    <%= f.label :probo_id %><br />
    <%= f.number_field :probo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
