<h1>Listing probas_probos</h1>

<table>
  <tr>
    <th>Proba</th>
    <th>Probo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @probas_probos.each do |probas_probo| %>
  <tr>
    <td><%= probas_probo.proba_id %></td>
    <td><%= probas_probo.probo_id %></td>
    <td><%= link_to 'Show', probas_probo %></td>
    <td><%= link_to 'Edit', edit_probas_probo_path(probas_probo) %></td>
    <td><%= link_to 'Destroy', probas_probo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Probas probo', new_probas_probo_path %>
