<p id="notice"><%= notice %></p>


<% if current_persona.perfil.ocupacion_id == 1 %>   
	<p>
	<td><%= link_to 'Edit', edit_chenil_path(@chenil) %></td>
	<td><%= "  /   " %></td>				
	<td><%= link_to 'Destroy', @chenil, confirm: 'Are you sure?', method: :delete %></td>
	</p>
	<% end %>

<p>
  <b>Zona:</b>
  <%= @chenil.zona_id %>
</p>

<p>
  <b>Ocupado:</b>
  <%= @chenil.ocupado %>

  <%= "/" %>
  <b>Capacidad:</b>
  <%= @chenil.capacidad %>
  <%= "/" %>

  <b>Caplibre:</b>
  <%= @chenil.caplibre %>
</p>

<p>
  <b>Notas:</b>
  <%= simple_format h @chenil.notas %>
</p>

<p>
  <b>Estado:</b>

  <%= @chenil.estado %>
</p>

<p></p>
<%= link_to 'Back', chenils_path %>
