<header>
<div id="imalogo" width="100">
	<%= image_tag("imagen_protectora.jpeg", :alt => "Protectora Animales 		Málaga", :class => "imalogo") %>
</div>
<nav class="main_header">

   <ul class="main-menu">


	 <li><%= link_to "Inicio", home_path %></li>
	 <li><%= link_to "Animales", animals_path %></li>
	<% if signed_in? %>
	  <li><%= link_to "Zonas", zonas_path %></li>
	  <li><%= link_to "Cheniles", chenils_path %></li>
	 
	  <!--li>< link_to "Relación Animales", relacion_animals_path ></li-->
	  <li><%= link_to "Personal", personas_path %></li>
	  <li><%= link_to "Horarios", horarios_path %></li>
	<!--< if signed_in? %> -->
	  <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
	<% else %>
	  <li><%= link_to "Sign in", signin_path %></li>
	<% end %>
   </ul>

</nav>
</header>

